<div class="navbar justify-between items-center bg-base-100 sticky top-0 shadow-md z-[1]">
    <div class="">
        <a routerLink="/home" class="btn btn-ghost text-xl">ToyStore</a>
    </div>
    <label class="hidden input input-sm input-bordered rounded-full md:flex items-center gap-2">
        <input #search [(ngModel)]="api.searchValue" type="search" name="search" id="search"
            placeholder="Search product by name, category or price">
        <kbd class="kbd kbd-sm">Ctrl</kbd> + <kbd class="kbd kbd-sm">k</kbd>
    </label>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <ng-icon name="heroShoppingCart" size="24"></ng-icon>
                    <span class="badge badge-sm indicator-item">8</span>
                </div>
            </div>
            <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow">
                <div class="card-body">
                    <span class="font-bold text-lg">8 Items</span>
                    <span class="text-info">Subtotal: $999</span>
                    <div class="card-actions">
                        <button class="btn btn-primary btn-block">View cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    @if(user()!==null){
                    <img alt="Profile-pic" [src]="user()?.avatar" />
                    }@else {
                    <div class="mask mask-circle h-10 w-10 bg-orange-500 flex justify-center items-center">G</div>
                    }
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a routerLink="/account/profile" class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li>
                    @if(api.user()!==null){
                    <button type="button" class="btn btn-sm btn-error justify-start" (click)="logout()">Logout</button>
                    }@else{
                    <button type="button" class="btn btn-sm btn-primary justify-start"
                        routerLink="/account/signin">Login</button>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>