<section class="relative">
    <!-- ==========carousel============ -->
    <div class="w-full h-64 carousel rounded-box mb-3">
        <div class="carousel-item w-full">
            <img src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg" class="w-full"
                alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.jpg" class="w-full"
                alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg" class="w-full"
                alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg" class="w-full"
                alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg" class="w-full"
                alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg" class="w-full"
                alt="Tailwind CSS Carousel component" />
        </div>
        <div class="carousel-item w-full">
            <img src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" class="w-full"
                alt="Tailwind CSS Carousel component" />
        </div>
    </div>
    <div class="join md:hidden md:w-72 w-full mb-3">
        <input [(ngModel)]="api.searchValue" type="search" name="search" id="search"
            class="input input-sm input-bordered w-full join-item" placeholder="Search by name, price and category">
        <button type="button" class="btn btn-sm btn-primary join-item"><ng-icon class="text-xl"
                name="heroMagnifyingGlass"></ng-icon></button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-3 gap-0 relative h-full">
        <div class="md:col-start-1 md:col-span-2">
            <app-product-card [products]="products" [searchValue]="api.searchValue"></app-product-card>
        </div>
        <div class="hidden md:block md:sticky md:top-0">
            <p class="text-xl font-bold">Categories</p>
            <app-check-box [categories]="categories"></app-check-box>
        </div>
    </div>
</section>