<div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
    @if(!productItem){<div class="w-full md:h-96 h-56 skeleton mb-1.5"></div>}@else{
    <div class="carousel carousel-center space-x-8 bg-neutral p-4 w-full md:h-96 h-56 rounded-md">
        @for (image of productItem.images; track $index) {
        <div class="carousel-item w-full">
            <img [src]="image" [alt]="'item-'+$index" class="w-full rounded-md">
        </div>
        }
    </div>
    }

    <div>
        @if(productItem!==null){
        <p class="text-4xl mb-1.5 w-full truncate font-bold py-1.5">{{productItem.title}}</p>
        <div class="badge badge-sm badge-neutral mb-3">Cagetory : {{productItem.category.name}}</div>
        <p class="mb-0.5 text-success font-semibold">Price : {{productItem.price | currency:"INR"}}</p>
        <div class="rating rating-sm mb-0.5">
            <input disabled type="radio" name="rating-4" id="rating-4" class="mask mask-star-2 bg-amber-500">
            <input disabled type="radio" name="rating-4" id="rating-4" class="mask mask-star-2 bg-amber-500">
            <input disabled type="radio" name="rating-4" id="rating-4" class="mask mask-star-2 bg-amber-500">
            <input disabled type="radio" name="rating-4" id="rating-4" class="mask mask-star-2 bg-amber-500">
            <input disabled type="radio" name="rating-4" id="rating-4" class="mask mask-star-2 bg-amber-500">
        </div>
        <p class="mb-1.5 font-semibold text-primary">Product description:</p>
        <p class="md:text-[18px] md:text-justify mb-3">{{productItem.description}}</p>
        <div class="btn-group">
            <button type="button" class="btn btn-accent me-1.5 hover:shadow-lg hover:shadow-accent/70">Add to cart
                <ng-icon class="text-[16px]" name="heroPlus"></ng-icon></button>
            <button type="button" class="btn btn-neutral ms-1.5 hover:shadow-lg hover:shadow-neutral/70">Buy now
                <ng-icon class="text-[16px]" name="heroShoppingCart"></ng-icon></button>
        </div>
        }@else{
        <div class="w-full md:h-96 h-56">
            <p class="text-4xl mb-1.5 w-full truncate font-bold py-1.5 skeleton h-10"></p>
            <div class="block mb-3 w-3/4 skeleton py-1.5"></div>
            <div class="mb-2 w-24 h-3 skeleton"></div>
            <div class="skeleton w-2/3 h-3 mb-3"></div>
            <div class="skeleton w-full h-64"></div>
        </div>
        }
    </div>
</div>